@import '../colors.scss';

.startingForm--Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 862px;
    height: 100%;
    form {
        width: 393px;
    }
}

.startingForm--Container__header {
    text-align: center;
    margin-bottom: 30px;
    .title {
        font-size: 30px;
        color: $gray;
        margin-bottom: 10px;
    }
}

.medium {
    width: 393px;
}

.buttonContainer{
    width: 100%;
    .button {
        width: 393px;
    }
}

.startingForm--Container__footer{
    margin-top: 20px;
    height: 45px;
    p {
        font-size: 20px;
        a {
            text-decoration: none;
            color: $orange;
        }
    }
}